/***************************
    Site Design CSS
***************************/

#box {
  margin: 25px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  padding: 2em;
  color: #333;
  text-align: center;
  overflow: visible;
  box-shadow: 0px 0px 14px 1px grey;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  /* text-transform: uppercase; */
  font-size: 2em;
  line-height: 1.3em;
  /* letter-spacing: -4px; */
  /* margin: 0.8rem 0 0 0; */
  padding-bottom: 5px;
  color: rgb(255, 101, 45)
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.65em;
  margin: 0.6em auto 0.6em auto;
  padding: 0;
  width: 23em;
}

p.small {
  font-size: 0.8em;
}

a,
a:visited,
a:hover {
  color: #333;
  font-weight: 600;
}


/***************************
    Google Table CSS
***************************/

.google-visualization-table-tr-even,
.google-visualization-table-tr-even td,
.google-visualization-table-tr-even-nonstrict {
  background-color: #fff !important;
  color: #333 !important;
}

.google-visualization-table-tr-odd,
.google-visualization-table-tr-odd td,
.google-visualization-table-tr-odd-nonstrict {
  background-color: #fff !important;
  background-color: rgb(252,229,205) !important;
  color: #333 !important;
}

.google-visualization-table-tr-sel,
.google-visualization-table-tr-sel td,
.google-visualization-table-tr-sel-nonstrict {
  background-color: #333 !important;
  color: #fff !important;
}

.google-visualization-table-tr-over,
.google-visualization-table-tr-over td,
.google-visualization-table-tr-over-nonstrict {
  background-color: #333 !important;
  color: #fff !important;
}

.google-visualization-table-td,
.google-visualization-table-th {
  border: 1px solid #333 !important;
  color: #fff !important;
}

.google-visualization-table-tr-head,
.google-visualization-table-tr-head td,
.google-visualization-table-tr-head-nonstrict {
  background-color: rgb(230,145,56) !important;
  background-image: none !important;
  color: #fff !important;
}

.google-visualization-table .gradient {
  background-image: none !important;
}


/***************************
    Text Selection CSS
***************************/

::-moz-selection {
  color: #fff;
  /* background: #333; */
}

::selection {
  color: #fff;
  /* background: #333; */
}
