<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <!-- <title>{{STEAMER}} Playlist</title> -->
  <meta content="Online song request list for {{STREAMER}}" name="description">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="favicon.ico" rel="shortcut icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link href="css/normalize.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <script src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body id="background">
  <div id="box">
    <h1>Свободные контейнеры</h1>
    <script src="js/google-sheets-html.js" type="text/javascript"></script>
    <div id="table">
    </div>
    <!-- <p class="small">{{FOOTER TEXT}}</p> -->
  </div>
</body>
</html>
